* {
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
}
body {

}
header {
    background-color: lightgreen;
    position: fixed;
    z-index: 1;
    width: 100%;
}
main {

}

footer {

}

/*layout*/
.container {
width: 1200px;
padding: 15px 0px;
}
.row {
display:flex;
}
.content {
    margin: 10px;
}
.content-header {
margin: 10px;
padding-top: 5px;
align-content: end;
}

.col-10 {
width: 60%;
}
.col-20 {
    width: 40%;
    align-content: end;
}
/*page style*/
.list-unstiled {
    list-style-type: none;
    padding-top: 5px;
}

.list-unstiled li {
    display: inline-block;
    padding: 0px 15px;
}

.list-unstiled li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

/*utility*/
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
.py-10 {
    padding: 10px 0;
}

.btn-lightblue {
    background-color: rgb(54, 85, 239);
    color:white;
}
