* {
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
}
body {
    
}
header {
    background-color: lightgreen;
    position: fixed;
    z-index: 1;
    width: 100%;
}
main {

}

footer {

}